<!DOCTYPE html>
<html lang="en">
<head>
    <title>Derpbox</title>
    {% block stylesheets %}
    <link href="{{ asset('bundles/smithdalecderpbox/bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/smithdalecderpbox/css/derpbox_bootstrap.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/smithdalecderpbox/css/derpbox_custom.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
	{% include 'SmithdalecDerpboxBundle:Derpbox:nav.html.twig' %}
    <div class="container" id="content">
    	{% block content %}{% endblock %}
    </div>
    <!-- Scripts loaded at bottom for max speed -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/smithdalecderpbox/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/smithdalecderpbox/js/derpbox_actions.js') }}"></script>
</body>
</html>